.box
{
  display: flexbox;
  justify-content: center;
  border: solid black;
  border-width: 1px;
  padding: 30px;
  margin: 20px;
  width: 100%;

}
.order-centre
{
  justify-content: center;
  display: flex;
}


/* =========bootstrap==== */
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  text-align: center;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
  display: block;
  min-height: 38px;
  padding: 10px;
  line-height: 18px;
  font-weight: 600;
  font-size: 14px;
  font-family: Lato, Muli, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  word-break: break-word;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
  z-index: 2;
  text-decoration: none;
  background-color: rgb(0, 78, 204);
  max-width: 200px;
}

.razorpay-payment-button
{
  display: none;
  
}

.btn-primary {
  color: #fffefe;
  background-color: #007517;
  border-color: #7cdea8;
  max-width: 264px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #03671b;
  border-color: #204d74;
}
