@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Merriweather:wght@300;400&family=Noto+Sans:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Fasthand', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans', sans-serif;
}
header {
    /* background-color: rgb(8, 202, 202); */
   padding-top: 60px ;
   padding-bottom: 60px;
    width: 100%;
}

.logo {
    margin-left: 22px;
}

.headtop {
    position: relative;
    width: 90%;
    display: flex;
    padding: 25px 0%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border: solid red 1px;
}
.navigation
{
    border: solid black 1px;
    display: block;
    width: 70%;
    position: relative;
}

.navigation > nav {
    position: relative;
}

.navigation > nav > ul {
    display: flex;
    justify-content: space-around;
    height: 52px;
    position: relative;
}


.navigation > nav > ul > li {
    text-decoration: none;
    /* margin: 0px 14px 0px; */
    width: 150px;
    /* padding: 1px; */
    font-weight: 400;
    position: relative;
    text-align: center;
    border: solid red 1px;
    list-style: none;
}

.navigation > nav > ul > li > a {
    color: #000;
    font-size: 1rem;
    width: 100%;
    display: grid;
    height: 100%;
    BORDER: Solid black 1px;
    /* height: 100%; */
    /* padding: 0px; */
    place-content: center;
    justify-content: center;
    /* margin: auto; */
    text-align: center;
    text-transform: capitalize;
    /* display: block !important; */
    text-decoration: none;
}


.navigation > nav > ul > li::after {
    /* content: '';
    top: 5px;
    position: relative;
    background-image: url(../img/downarrow.png) cover 100% 100%;
    border: solid red 1px;
    width: 21px;
    height: 10px;
    background-color: black; */

    content: "";
    position: relative;
    top: 8px;
    right: -10px;
    background: url(../img/downarrow.png) no-repeat;
    width: 15px;
    height: 10px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

#image_slider {
    height: 80vh;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.divider_row {
    width: 100%;
    padding: 0px 2%;
    margin-top: 21px;
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
}

.centre {
    position: relative;
    padding: 14px 2%;
}

.centre h5 {
    color: black;
    font-size: 2.5rem;
}

.green_dot {
    margin: auto;
    display: flex;
    justify-content: center;
    /* top: -15px; */
    position: relative;
    /* top: 40px; */
    border-radius: 20px;
    left: -32px;
}

.green_dot div {
    width: 90px;
    margin-right: 7px;
    height: 5px;
    background-color: black;
    border-radius: 6px;
    float: left;
}

.green_dot div:nth-child(2) {
    width: 57px;
    margin-right: 4px;
    height: 5px;
    border-radius: 6px;
    float: left;
    background-color: aquamarine;
}

#Services {
    display: flex;
    padding: 5px;
}

.parent_box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 0px;
}

.card {
    height: 250px;
    overflow: hidden;
    width: 347px;
    margin: 0px 30px auto;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: rgb(59 58 66 / 37%) 0px 1px 14px 0px, rgb(0 0 0 / 50%) 0px 1px 5px -1px;

}


.card:hover {
    transform: scale(-15px);
    box-shadow: 0px 0px 0px 0px rgb(221, 60, 60);
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 8px 4px 26px 10px rgb(31 38 135 / 37%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: 0.2s;
}

.description {
    text-align: center;
}

.description>p {
    font-weight: 500;
}

.card>.img>img {
    width: 100%;
    height: 100%;
}

.circle {
    border-radius: 57%;
    height: 100%;
    width: 100%;
}

.description_about {
    width: 60%;
    font-size: 0.9rem;
    font-weight: 300;
}

.img_circle {
    width: 20%;
    border-radius: 52%;
}

.hd_red {
    height: 254px;
}

#footer_parent {
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.596);
}

.statistics_bar {
    height: 150px;
    width: 100%;
    background-color: rgb(109, 162, 223);
    border: solid red 1px;
    display: flex;
    align-items: center;
}

.parent_box_bar {
    width: 100%;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stats_sm_box {
    height: 50px;
    width: 60px;
    background-color: aliceblue;
    margin: 0px 10px auto;
}

.arrow-down {
    width: 33px;
    height: 33px;
    border: 2px solid #333;
    border-left: 0;
    border-top: 0;

    transform: rotate(45deg);
}

.swiper-slide:nth-child(2n) {
    width: 50%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
    transform: scale(22px);
    /* border: solid red 1px; */
}

.swiper {
    padding: 30px;
}

.togglea1
{
    display: grid;
}
.togglebox
{
    background-color: greenyellow;
    /* padding: 13px; */
    top: 50px;
    display: none;
    border: solid red 1px;
    /* transition-duration: 5s; */
    z-index: 1;
    width: 100%;
    position: absolute;
}
.togglebox > p
{
    padding-right: 90px;
    background-color: black;
    color: white;
}

/* ==============EXPERIMENTS================== */
.togglebox2
{
    background-color: #000;
    color: white;
   cursor: pointer;
    position: relative;
    z-index: 1000;
    display: none;
}
.swiper-wrapper
{
z-index: 0;
flex-shrink: 1;
}
.togglebtn:hover + .togglebox
{
z-index: 10;
  display: inline-block;
}

#Services {
    /* background-color: aqua; */
    height: 75vh;
    width: 100%;

}

.button-fa
{
    width: 60px;
    border: none;
    background: transparent;
    display: none;

}
.fa-bars:before
{
    content: "\f0c9";
    /* height: 16px; */
    padding: 10px;
    background-color: black;
    color: white;
    display: inline;
    border: solid red 1px;
    font-size: 38px;
}

.toggle-box-ul
{
    border: solid red 1px;
    /* width: 215px; */
    /* width: 141px; */
    display: block;
    /* padding: 27px 53px; */
    background-color: #ffffff9e;
}
.toggle-box-li
{
   
    color: black;
    padding: 14px;
    /* width: 100%; */
    /* max-width: 319px; */
    /* padding-right: 57px; */
    list-style: none;
}



.toggle-box-li > a 
{
   
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    max-width: 100%;
    text-size-adjust: centre;
    /* padding: 0 0px; */
    /* border: solid red 1px;**/
}
.a-toggle-box
{
    border: solid black 1px;
    background-color: rgba(0, 0, 0, 0.5);
}